{% extends 'imports.html' %}
{% block content1 %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test Page</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="url" value="{{ url }}" />
                        <table class="table table-bordered">
                            {% for row in board %}
                                <tr>
                                    {% for cell in row %}
                                        {% if cell|make_list|first == "*" %}
                                            <td class="text-center"><input type="text" class="form-control" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}" value="{{ cell|slice:"1:" }}" /></td>
                                        {% elif cell %}
                                            <td class="text-center">{{ cell }}</td>
                                        {% else %}
                                            <td class="text-center"><input type="text" class="form-control" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}"/></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <button class="btn btn-primary my-4" type="submit">Submit</button>
                        {% if mistake %}
                            <h3 class="mistakemsg">Something isn't right!</h3>
                        {% endif %}
                    </form>
                    <p>Source: <a href="{{ url }}">{{ url }}</a></p>
                </div>
                <div class="col col-lg-4">
                    {% for w in words %}
                        <h3>{{ w }}</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
