{% extends navbar_template|default:'registration/logged_in_base.html' %}
{% block content2 %}
{% load tags %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_heading }}</title>
        <style>            
            [id*="word_"]:checked + label {
                text-decoration: line-through;
                color: #D3D3D3;
            }
            input[type="text"]::placeholder {
                font-size: 12px;
                color: orange;
                top: -5px;
                position: relative;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="my-4">{{ page_heading }}</h2>
            <div class="row">
                <div class="col" style="max-width: 1000px;">
                    <form method="post" id="letters_form">
                        {% csrf_token %}
                        <input type="hidden" name="url" value="{{ url }}" />
                        <table class="table table-bordered">
                            {% for row in board|zip:placeholders %}
                                <tr>
                                    {% for board_cell, placeholder_cell in row|tuplezip %}
                                        {% if board_cell|make_list|first == "*" %}
                                            <td class="text-center"><input type="text" class="form-control" maxlength="1" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" value="{{ board_cell|slice:"1:" }}" oninput="this.value = this.value.toUpperCase()" placeholder={{ placeholder_cell }}></input></td>
                                        {% elif board_cell %}
                                            <td class="text-center" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" value="{{board_cell}}">{{ board_cell }}</td>
                                        {% else %}
                                            <td class="text-center"><input type="text" class="form-control" maxlength="1" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" oninput="this.value = this.value.toUpperCase()" placeholder={{ placeholder_cell }}></input></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <ul class="list-group list-group-horizontal" style="display: flex; flex-wrap: wrap; flex-direction: row; max-width: 1000px;">
                            {% for w in words %}
                                <li class="list-group-item border-0">
                                    <input type="checkbox" id="word_{{ w }}" style="display: none;"/>
                                    <label for="word_{{ w }}"><b>{{ w }}</b></label>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <ul class="list-group list-group-horizontal" style="display: flex; flex-wrap: wrap; flex-direction: row; max-width: 1000px; line-height: 0;">
                            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXY" %}
                                <li class="list-group-item border-0" id="{{ l }}_remaining_letter" style="max-width: 0;">
                                    <p>{{ l }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <button class="btn btn-primary my-4" type="submit" name="submit_button">Submit</button>
                        <button class="btn btn-secondary my-4" type="submit" name="save_button">Save</button>
                        <button class="btn btn-danger my-4" type="button" name="ghost_button">Ghost Off</button>
                    </form>
                    <div class="row">
                        {% if mistake %}
                            <h3>Something isn't right!</h3>
                        {% endif %}
                        {% if complete %}
                            <h3>Correct!</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Source: <a href="{{ url }}">{{ url }}</a></p>
            </div>
        </div>
        <script>
            // When submit button is clicked add a "clicked" attribute
            $("form button[type=submit]").click(function() {
                $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
                $(this).attr("clicked", "true");
            });

            // When form is submitted, POST
            $("#letters_form").submit(function(e) {
                var form = $(this);
                // Add placeholder values as field to form
                placeholders = get_placeholders()
                form.append(`<input type="hidden" name="placeholders" value="${placeholders}" />`);

                var button_name = $("button[type=submit][clicked=true]").attr("name");
                // If save button is pressed, do POST without redirect
                if (button_name === "save_button") {
                    e.preventDefault();
                    
                    var actionUrl = form.attr('action');
    
                    $.ajax({
                        type: "POST",
                        url: actionUrl,
                        data: form.serialize(),
                    });

                    console.log("saved");
                }
            });

            // When ghost button is clicked, toggle it between red and green
            $("button[name=ghost_button]").click(function() {
                ghost_button = $(this)[0];

                if (ghost_button.className.includes("danger")) {
                    ghost_button.className = "btn btn-success my-4";
                    ghost_button.innerHTML = "Ghost On";
                } else {
                    ghost_button.className = "btn btn-danger my-4";
                    ghost_button.innerHTML = "Ghost Off";
                }
            });

            $('[name$="_letter"]').each(function() {
                var elem = $(this);
            
                // Save current value of element
                elem.data('oldVal', elem.val());
            
                // Look for changes in the value
                elem.bind("propertychange change click keyup input paste", function(event){
                    // If value has changed...
                    if (elem.data('oldVal') != elem.val()) {
                        // Update stored value
                        elem.data('oldVal', elem.val())

                        check_ghost(elem);
                        update_remaining_letters();
                    }
                });
            });

            // Update the remaining letters to reflect letters in form
            function update_remaining_letters() {
                // Remove changes to remaining letters
                let remaining_letters = document.querySelectorAll('[id$="_remaining_letter"]');

                for (let item of remaining_letters) {
                    item.getElementsByTagName('p')[0].style = ''
                }
                // Get letters in form
                let form_letters = document.querySelectorAll('[name$="_letter"]');
                let changed_letters = [];

                for (let letter of form_letters) {
                    value = letter.value;

                    if (value === undefined) {
                        value = letter.getAttribute('value')
                    }
                    value = value.toUpperCase();

                    if (value) {
                        letter_style = "";
                        box_colour = "";

                        if (changed_letters.includes(value)) {
                            // If letter has been found twice in grid, make it red
                            letter_style = `<p style="color: #FF0000; display: inline-block;">${value}</p>`;
                            box_colour = '#FF4444';
                        } else {
                            // Otherwise make it grey
                            letter_style = `<p style="text-decoration: line-through; color: #D3D3D3;">${value}</p>`;
                            box_colour = '';
                        }

                        document.getElementById(`${value}_remaining_letter`).innerHTML = `${letter_style}`;
                        for (let box of form_letters) {
                            // Checks for both input boxes and static boxes
                            if ([box.value, box.getAttribute('value')].includes(value)) {
                                box.style['background-color'] = box_colour;
                            }
                        }
                    } else {
                        // Remove the red fill from empty boxes
                        letter.style['background-color'] = "#FFFFFF";
                        letter.setAttribute("value", "");
                    }

                    changed_letters.push(value);
                }
            }

            function check_ghost(elem) {
                box = elem[0];
                if (box.value !== "") {
                    // Checks if ghost button is pressed
                    if($("button[name=ghost_button]")[0].className.includes("success")) {
                        placeholder_value = box.value.slice()
                        if (box.placeholder.includes(placeholder_value)) {
                            box.placeholder = box.placeholder.replace(placeholder_value, "")
                        } else {
                            box.placeholder += placeholder_value
                        }
                        box.placeholder = box.placeholder.split('').sort().join('');
                        box.value = "";
                    }
                }
            }

            function get_placeholders() {
                let placeholders = [];
                let form_letters = document.querySelectorAll('[name$="_letter"]');
                for (let letter of form_letters) {
                    value = letter.getAttribute("placeholder");

                    if (value !== undefined) {
                        placeholders.push(value);
                    }
                }
                return placeholders;
            }

            update_remaining_letters();

            var saveButton = document.getElementsByName("save_button")[0];
            // Run save every 30 seconds
            setInterval(function(){
                saveButton.click();
            }, 30000);
        </script>
    </body>
</html>
{% endblock %}
