{% extends navbar_template|default:'registration/logged_in_base.html' %}
{% block content2 %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_heading }}</title>
        <style>            
            [id*="word_"]:checked + label {
                text-decoration: line-through;
                color: #D3D3D3;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="my-4">{{ page_heading }}</h2>
            <div class="row">
                <div class="col" style="max-width: 1000px;">
                    <form method="post" id="letters_form">
                        {% csrf_token %}
                        <input type="hidden" name="url" value="{{ url }}" />
                        <table class="table table-bordered">
                            {% for row in board %}
                                <tr>
                                    {% for cell in row %}
                                        {% if cell|make_list|first == "*" %}
                                            <td class="text-center"><input type="text" class="form-control" maxlength="1" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" value="{{ cell|slice:"1:" }}" oninput="this.value = this.value.toUpperCase()"/></td>
                                        {% elif cell %}
                                            <td class="text-center" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" value="{{cell}}">{{ cell }}</td>
                                        {% else %}
                                            <td class="text-center"><input type="text" class="form-control" maxlength="1" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" oninput="this.value = this.value.toUpperCase()"/></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <ul class="list-group list-group-horizontal" style="display: flex; flex-wrap: wrap; flex-direction: row; max-width: 1000px;">
                            {% for w in words %}
                                <li class="list-group-item border-0">
                                    <input type="checkbox" id="word_{{ w }}" style="display: none;"/>
                                    <label for="word_{{ w }}"><b>{{ w }}</b></label>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <ul class="list-group list-group-horizontal" style="display: flex; flex-wrap: wrap; flex-direction: row; max-width: 1000px; line-height: 0;">
                            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXY" %}
                                <li class="list-group-item border-0" id="{{ l }}_remaining_letter" style="max-width: 0;">
                                    <p>{{ l }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <button class="btn btn-primary my-4" type="submit" name="submit_button">Submit</button>
                        <button class="btn btn-primary my-4" type="submit" name="save_button">Save</button>
                    </form>
                    <div class="row">
                        {% if mistake %}
                            <h3>Something isn't right!</h3>
                        {% endif %}
                        {% if complete %}
                            <h3>Correct!</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Source: <a href="{{ url }}">{{ url }}</a></p>
            </div>
        </div>
        <script>
            $("form button[type=submit]").click(function() {
                $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
                $(this).attr("clicked", "true");
            });

            $(document).ready(function() {
                $("#letters_form").submit(function(e) {

                    var button_name = $("button[type=submit][clicked=true]").attr("name");

                    if (button_name === "save_button") {
                        e.preventDefault(); // avoid to execute the actual submit of the form.
                    }

                    var form = $(this);
                    var actionUrl = form.attr('action');

                    console.log(form.serialize())

                    $.ajax({
                        type: "POST",
                        url: actionUrl,
                        data: form.serialize(), // serializes the form's elements.
                    });
                });
            });
        </script>
        <script>
            let form_letters = document.querySelectorAll('[name$="_letter"]');

            for (let item of form_letters) {
                item.addEventListener('keyup', update_remaining_letters);
            }

            function update_remaining_letters() {
                let remaining_letters = document.querySelectorAll('[id$="_remaining_letter"]');

                for (let item of remaining_letters) {
                    item.getElementsByTagName('p')[0].style = ''
                }

                let form_letters = document.querySelectorAll('[name$="_letter"]');

                for (let item of form_letters) {
                    value = item.value;

                    if (value === undefined) {
                        value = item.getAttribute('value')
                    }
                    value = value.toUpperCase();

                    if (value) {
                        document.getElementById(`${value}_remaining_letter`).innerHTML = `<p style="text-decoration: line-through; color: #D3D3D3;">${value}</p>`
                    }
                }
            }

            update_remaining_letters();
        </script>
    </body>
</html>
{% endblock %}
