{% extends navbar_template|default:'registration/logged_in_base.html' %}
{% block content2 %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_heading }}</title>
        <style>            
            [id*="word_"]:checked + label {
                text-decoration: line-through;
                color: #D3D3D3;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h2 class="my-4">{{ page_heading }}</h2>
            <div class="row">
                <div class="col" style="max-width: 1000px;">
                    <form method="post" id="letters_form">
                        {% csrf_token %}
                        <input type="hidden" name="url" value="{{ url }}" />
                        <table class="table table-bordered">
                            {% for row in board %}
                                <tr>
                                    {% for cell in row %}
                                        {% if cell|make_list|first == "*" %}
                                            <td class="text-center"><input type="text" class="form-control" maxlength="1" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" value="{{ cell|slice:"1:" }}" oninput="this.value = this.value.toUpperCase()"/></td>
                                        {% elif cell %}
                                            <td class="text-center" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" value="{{cell}}">{{ cell }}</td>
                                        {% else %}
                                            <td class="text-center"><input type="text" class="form-control" maxlength="1" name="{{ forloop.parentloop.counter0 }}{{ forloop.counter0 }}_letter" oninput="this.value = this.value.toUpperCase()"/></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <ul class="list-group list-group-horizontal" style="display: flex; flex-wrap: wrap; flex-direction: row; max-width: 1000px;">
                            {% for w in words %}
                                <li class="list-group-item border-0">
                                    <input type="checkbox" id="word_{{ w }}" style="display: none;"/>
                                    <label for="word_{{ w }}"><b>{{ w }}</b></label>
                                </li>
                            {% endfor %}
                        </ul>
                        <br>
                        <ul class="list-group list-group-horizontal" style="display: flex; flex-wrap: wrap; flex-direction: row; max-width: 1000px; line-height: 0;">
                            {% for l in "ABCDEFGHIJKLMNOPQRSTUVWXY" %}
                                <li class="list-group-item border-0" id="{{ l }}_remaining_letter" style="max-width: 0;">
                                    <p>{{ l }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <button class="btn btn-primary my-4" type="submit" name="submit_button">Submit</button>
                        <button class="btn btn-primary my-4" type="submit" name="save_button">Save</button>
                    </form>
                    <div class="row">
                        {% if mistake %}
                            <h3>Something isn't right!</h3>
                        {% endif %}
                        {% if complete %}
                            <h3>Correct!</h3>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <p>Source: <a href="{{ url }}">{{ url }}</a></p>
            </div>
        </div>
        <script>
            // When submit button is clicked add a "clicked" attribute
            $("form button[type=submit]").click(function() {
                $("button[type=submit]", $(this).parents("form")).removeAttr("clicked");
                $(this).attr("clicked", "true");
            });

            // When form is submitted, POST
            $("#letters_form").submit(function(e) {
                var button_name = $("button[type=submit][clicked=true]").attr("name");
                // If save button is pressed, do POST without redirect
                if (button_name === "save_button") {
                    e.preventDefault();
                    var form = $(this);
                    var actionUrl = form.attr('action');
    
                    $.ajax({
                        type: "POST",
                        url: actionUrl,
                        data: form.serialize(),
                    });
    
                    console.log("saved");
                }
            });

            // Get letter inputs from form
            let form_letters = document.querySelectorAll('[name$="_letter"]');

            // Add event listeners for keyup in inputs
            for (let item of form_letters) {
                item.addEventListener('keyup', update_remaining_letters);
            }

            // Update the remaining letters to reflect letters in form
            function update_remaining_letters() {
                // Remove changes to remaining letters
                let remaining_letters = document.querySelectorAll('[id$="_remaining_letter"]');

                for (let item of remaining_letters) {
                    item.getElementsByTagName('p')[0].style = ''
                }
                // Get letters in form
                let form_letters = document.querySelectorAll('[name$="_letter"]');
                let changed_letters = [];

                for (let item of form_letters) {
                    item.style = '';
                    value = item.value;

                    if (value === undefined) {
                        value = item.getAttribute('value')
                    }
                    value = value.toUpperCase();

                    if (value) {
                        if (changed_letters.includes(value)) {
                            // If letter has been found twice in grid, make it red
                            document.getElementById(`${value}_remaining_letter`).innerHTML = `<p style="color: #FF0000; display: inline-block;">${value}</p>`
                            for (let box of form_letters) {
                                // Checks for both input boxes and static boxes
                                if ([box.value, box.getAttribute('value')].includes(value)) {
                                    box.style = 'background-color: #FF4444;'
                                }
                            }
                        } else {
                            // Otherwise make it grey
                            document.getElementById(`${value}_remaining_letter`).innerHTML = `<p style="text-decoration: line-through; color: #D3D3D3;">${value}</p>`
                        }
                    }

                    changed_letters.push(value);
                    console.log(changed_letters);
                }
            }

            update_remaining_letters();

            var saveButton = document.getElementsByName("save_button")[0];
            // Run save every 30 seconds
            setInterval(function(){
                saveButton.click();
            }, 30000);
        </script>
    </body>
</html>
{% endblock %}
