{% extends navbar_template|default:'registration/logged_in_base.html' %}
{% block content2 %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_heading }}</title>
    </head>
    <body>
        <div class="container">
            <h2 class="my-4">{{ page_heading }}</h2>
            <div class="row">
                <form method="post" id="settings_form">
                    {% csrf_token %}
                    <input class="form-check-input" type="checkbox" id="notes_enabled" name="notes_enabled" {% if notes_value %}checked{% endif %}></input>
                    <label class="form-check-label" for="notes_enabled">Enable notes box</label>
                    <br>
                    <ul style="list-style-type: none;">
                        <p style="display: inline;">Presets:</p>
                        <li>
                            <input class="form-check-input" type="radio" data-group="notes_preset_group" id="none_button" name="notes_none"  {% if selected_preset.id == None %}checked{% endif %}></input>
                            <label class="form-check-label" for="none_button">None</label>
                        </li>
                        {% for n in presets %}
                            <li>
                                <input class="form-check-input" type="radio" data-group="notes_preset_group" id="notes_preset_{{ n.id }}" name="notes_preset_{{ n.id }}" {% if selected_preset.id == n.id %}checked{% endif %}></input>
                                <label class="form-check-label" for="notes_preset_{{ n.id }}">{{ n.name }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <button class="btn btn-primary savebutton" type="submit" name="save_button">Save</button>
                </form>
            </div>
            <div class="row">
                <p>All puzzle credit goes to Paul Alan Grosse here: <a href="http://www.puzzles.grosse.is-a-geek.com/uberarchive.html">http://www.puzzles.grosse.is-a-geek.com/uberarchive.html</a></p>
            </div>
            <img src="https://github.com/Matt-Mcl/gogen/actions/workflows/run_django_tests.yml/badge.svg">
        </div>
    </body>
    <script>
        // When form is submitted, POST
        $("#settings_form").submit(function(e) {
            var form = $(this);
                
            var actionUrl = form.attr('action');
            const saveButton = document.getElementsByName("save_button")[0];
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(),
                success: function(data) {
                    saveButton.classList.add("saved");
                    setTimeout(() => {
                        saveButton.classList.remove("saved");
                    }, 2000);
                    console.log("saved");
                },
                error: function(data) {
                    saveButton.innerText = "Error";
                    saveButton.classList.add("error");
                    setTimeout(() => {
                        saveButton.classList.remove("error");
                        saveButton.innerText = "Save";
                    }, 2000);
                    console.log("error saving");
                }
            });
        });

        $('input[type="radio"]').on('click', function() {
            // Get the group name from the data-group attribute
            var groupName = $(this).data('group');
            
            // Deselect all other radio inputs in the same group
            $('input[type="radio"][data-group="' + groupName + '"]').not(this).prop('checked', false);
        });

    </script>
</html>
{% endblock %}
