asgiref
attrs
certifi
charset-normalizer
Django
exceptiongroup
gazpacho
gunicorn
h11
idna
numpy
opencv-python
outcome
packaging
psycopg
psycopg2
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
sqlparse
tblib
trio
trio-websocket
typing_extensions
urllib3
webdriver-manager
websocket-client
whitenoise
wsproto
