{% extends 'imports.html' %}
{% block content1 %}
<html>
    <body>
        <nav class="mcl-navbar navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">Gogen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/uber">Uber</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ultra">Ultra</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/hyper">Hyper</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <!-- LogoutView is POST-only from Django 5.0 onwards. -->
                            <form method="post" action="{% url 'logout' %}" class="m-0">
                                {% csrf_token %}
                                <button type="submit" name="logout_button" class="nav-link btn btn-link text-decoration-none">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content2 %} {% endblock %}
    </body>
</html>
{% endblock %}
