{% extends 'registration/logged_out_base.html' %}
{% block content2 %}
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Workout App Register</title>
    </head>
    <body>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-centered">
                        <h1 class="mt-5 mb-3">Register</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3 mt-3">
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %} {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                <input
                                    type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                                    name="{{ field.html_name }}"
                                    class="form-control"
                                    maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                                    id="{{ field.id_for_label }}"
                                    required
                                />
                            </div>
                            {% if field.errors %} {% for error in field.errors %}
                            <p style="font-size: 13px;">
                                {{ error | escape }}
                            </p>
                            {% endfor %} {% endif %} {% endfor %}
                            <br>
                            <button type="submit" class="btn btn-primary mt-2">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
{% endblock %}
